    *{
      margin: 0 auto;
    }
      #navbar ul{
        display: none;
        background-color: black;
        position: absolute;
    
      }
      #navbar li:hover ul { display: block; }
      #navbar, #navbar ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
      }
      #navbar {
        height: 35px;
        background-color: black;
        padding-left: 25px;
        min-width: 470px;
        background: #3eb489;
      }
      #navbar li {
        float: left;
        position: relative;
        height: 100%;
      }
      #navbar li a {
        display: block;
        padding: 6px;
        width: 100%
        margin:5px;
        color: #fff;
        text-decoration: none;
        text-align: cщenter;
        font-size: 23px;

      }
      #navbar a:hover{
        background: black;
        color: white;
      }

      .sticky {
    position: fixed;
    top: 0;
    width: 100%;
 }

